<div class="page-container session">

  <div class="page__header">
    <div><strong>Drag</strong></div>
    <div>Login</div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field input-line input-full">
    <%= f.text_field :login, :placeholder => 'Username', autofocus: true %>
  </div>

  <div class="field input-line input-full">
    <%= f.password_field :password, :placeholder => 'Password', autocomplete: "off" %>
  </div>

  <div class="actions button-hench">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->

</div>
