<%= link_to 'New Image', new_image_path %>

<%= form_tag @image, :html => {:multipart => true}, method: :post, class: "dropzone", id: "media-dropzone" do %>
  <div class="fallback">
    <%= file_field_tag "media", multiple: true%>
  </div>
  <div class="dz-message">
    <%= image_tag 'uploadzone_message.svg' %>
  </div>
<% end %>

<div id="previewtemplate" >
<div class="upload-item-example dz-preview preview-template dz-custom dz-file-preview">
  <div class="uploadItem">
    <div class="uploadItem__container dz-details">
      <div class="uploadItem__thumbnail">
        <img data-dz-thumbnail />

        <div class="dz-progress">
          <span class="dz-upload" data-dz-uploadprogress></span>
        </div>

      </div>
      <div class="uploadItem__content">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <div class="tag-field">
          <%= form_for('save_Tags', remote: true) do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <input type="text" name="all_tags" class="input-tags" placeholder="Tags seperated by comma" />
            <button class="tag-save-button" name="commit" />sdf</button>
          <% end %>
        </div>
      </div>
    </div>
    <!--  <div class="dz-success-mark"><span>✔</span></div>
    <div class="dz-error-mark"><span>✘</span></div> -->
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
  </div>
</div>
</div>


<%= react_component('ImageBox',
                    {:presenter => @presenter.to_json, :imgSrc => image_path("http://placehold.it/500x500")},
                    {:prerender => true}) %>
